<!DOCTYPE html>
<html lang="el">
<head>
  <meta charset="UTF-8">
  <title>Εξατομικευμένα Προϊόντα για Σχολές Πάλης & Χορού</title>
</head>
<body style="margin:0; padding:0; background-color:#f5f5f5; font-family:Arial, sans-serif; color:#333;">

  <!-- Main Wrapper -->
  <table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f5f5f5" style="max-width: 650px;">
    <tr>
      <td style="padding: 0 0 20px 0;">

        <!-- Header -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#2b2a29">
          <tr>
            <td align="center" style="padding: 25px 20px; border-radius: 10px 10px 0 0;">
              <img src="https://i.imgur.com/KMzzzIM.jpeg" alt="Logo" width="600" style="display:block; margin: 0 auto;">
            </td>
          </tr>
        </table>

        <!-- Intro Section -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
            <tr>
                <td align="center" style="padding: 20px 0;">
                    <h1 style="margin: 15px 0 0 0; font-size:18px; color:#ff8800;">
                        Θα θέλαμε να σας ευχαριστήσουμε για την επίσκεψή σας
                        στο περίπτερό μας στην ARTOZA 2025 και  το ενδιαφέρον σας για τα προϊόντα μας.
                        Παρακάτω θα βρείτε προσφορά μας για τα είδη που σας ενδιαφέρουν
                    </h1>
               </td>
            </tr>
        </table>

        <!-- Product Cards Section -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#f5f5f5">
          <tr>
            <td align="center" style="padding: 20px 10px;">
              
              <!-- Card Row 1 -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                     <!-- Card 1 -->
                        <td width="50%" align="center" style="padding: 10px; vertical-align: top;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ffffff; border-radius: 8px;">
                                <tr>
                                    <td align="center" style="padding: 15px 15px 10px 15px; background-color: #333;">
                                        <img src="https://i.imgur.com/DlI9Ivl.jpeg" width="100%" style="display:block; border-radius:6px; max-width: 400px; height: 300px; object-fit: contain;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="94" style="padding: 0 15px 15px 15px; background-color: #ff8800;">
                                        <!-- <h3 style="margin:0 0 10px 0; font-size:18px; color:#ff8800;">Μπλούζες Προπόνησης</h3> -->
                                        <p style="margin:0; font-size:16px; line-height:1.5; color: white; height: 63px; font-weight: bold;">
                                            Παντελονι λευκο λαστιχο με χωστες τσεπες 6,50€ + ΦΠΑ
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" align="center" style="padding: 10px; vertical-align: top;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ffffff; border-radius: 8px;">
                                <tr>
                                    <td align="center" style="padding: 15px 15px 10px 15px; background-color: #333;">
                                        <img src="https://i.imgur.com/cDSatLR.jpeg" width="100%" style="display:block; border-radius:6px; max-width: 400px; height: 300px; object-fit: contain;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="94" style="padding: 0 15px 15px 15px; background-color: #ff8800;">
                                        <!-- <h3 style="margin:0 0 10px 0; font-size:18px; color:#ff8800;">Μπλούζες Προπόνησης</h3> -->
                                        <p style="margin:0; font-size:16px; line-height:1.5; color: white; height: 63px; font-weight: bold;">
                                            Ποδια λαιμού μαύρη χωρις λογότυπο   4,10€ + ΦΠΑ
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

                <!-- ROW 2 -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                     <!-- Card 1 -->
                        <td width="50%" align="center" style="padding: 10px; vertical-align: top;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ffffff; border-radius: 12px;">
                                <tr>
                                    <td align="center" style="padding: 15px 15px 10px 15px; background-color: #333;">
                                        <img src="https://i.imgur.com/uvq5XdQ.jpeg" width="100%" style="display:block; border-radius:12px; max-width: 400px; height: 300px; object-fit: contain;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="94" style="padding: 0 15px 15px 15px; background-color: #ff8800;">
                                        <!-- <h3 style="margin:0 0 10px 0; font-size:18px; color:#ff8800;">Μπλούζες Προπόνησης</h3> -->
                                        <p style="margin:0; font-size:16px; line-height:1.5;  color: white; height: 63px; font-weight: bold;">
                                             Σακάκι σεφ κ.μ C733 λευκό χωρίς λογότυπο  12,20€ + ΦΠΑ
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <!-- Card 2 -->
                         <td width="50%" align="center" style="padding: 10px; vertical-align: top;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ffffff; border-radius: 12px;">
                                    <tr>
                                        <td align="center" style="padding: 15px 15px 10px 15px; background-color: #333;">
                                            <img src="https://i.imgur.com/nPVBNwZ.jpeg" width="100%" style="display:block; border-radius:12px; max-width: 400px; height: 300px; object-fit: contain;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" height="94" style="padding: 0 15px 15px 15px; background-color: #ff8800;">
                                            <!-- <h3 style="margin:0 0 10px 0; font-size:18px; color:#ff8800;">Μπλούζες Προπόνησης</h3> -->
                                            <p style="margin:0; font-size:16px; line-height:1.5;  color: white; height: 63px; font-weight: bold;">
                                                Σακάκι σεφ κ.μ OTTAVIO λευκό χωρίς λογότυπο  17,50 € + ΦΠΑ

                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                    </tr>
                </table>
              
                <!-- Card Row 3 -->
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                     <!-- Card 1 -->
                        <td width="50%" align="center" style="padding: 10px; vertical-align: top;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ffffff; border-radius: 8px;">
                                <tr>
                                    <td align="center" style="padding: 15px 15px 10px 15px; background-color: #333;">
                                        <img src="https://i.imgur.com/c9FMBMN.jpeg" width="100%" style="display:block; border-radius:6px; max-width: 400px; height: 300px; object-fit: contain;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="94" style="padding: 0 15px 15px 15px; background-color: #ff8800;">
                                        <!-- <h3 style="margin:0 0 10px 0; font-size:18px; color:#ff8800;">Μπλούζες Προπόνησης</h3> -->
                                        <p style="margin:0; font-size:16px; line-height:1.5; color: white; height: 63px; font-weight: bold;">
                                            Kαπέλο 6φυλλο χωρίς λογότυπο  1,35€ + ΦΠΑ
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" align="center" style="padding: 10px; vertical-align: top;">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ffffff; border-radius: 8px;">
                                <tr>
                                    <td align="center" style="padding: 15px 15px 10px 15px; background-color: #333;">
                                        <img src="https://i.imgur.com/DbfIB2r.jpeg" width="100%" style="display:block; border-radius:6px; max-width: 400px; height: 300px; object-fit: contain;">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" height="94" style="padding: 0 15px 15px 15px; background-color: #ff8800;">
                                        <!-- <h3 style="margin:0 0 10px 0; font-size:18px; color:#ff8800;">Μπλούζες Προπόνησης</h3> -->
                                        <p style="margin:0; font-size:16px; line-height:1.5; color: white; height: 63px; font-weight: bold;">
                                            Υπόδημα μαγείρων  24€ + ΦΠΑ
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

        <!-- CTA Section -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
          <tr>
            <td align="center" style="padding: 40px 20px 10px 20px;">
              <h2 style="margin:0 0 20px 0; font-size:16px; color:#ff8800;">
                Η προσφορά μας ισχύει για μεγάλες ποσότητες χωρίς το λογότυπο
                όταν μας στείλετε τα λογότυπα θα σας ενημερώσουμε για το κόστος
            </h2>
              <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td align="center" style="padding:0 10px;">
                    <a href="https://preview.mailerlite.io/forms/1714658/161978670547731765/share" target="_blank" style="background:#ff8800; color:#fff; padding:12px 25px; text-decoration:none; border-radius:6px; font-weight:bold; display:inline-block; font-size:16px;">
                      Εγγραφείτε στη λίστα μας
                    </a>
                  </td>
                  <td align="center" style="padding:0 10px;">
                    <a href="https://drive.google.com/file/d/1FgJxM0sLVAh2_6CxVxeZfOzgQhD4U8s2/view?usp=sharing" target="_blank" style="background:#2b2a29; color:#ff8800; padding:12px 25px; text-decoration:none; border-radius:6px; font-weight:bold; display:inline-block; font-size:16px;">
                      Κατέβασε τον Κατάλογο
                    </a>
                  </td>
                </tr>
              </table>

              <!-- Rest of the companies -->
               <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td align="center" style="padding: 40px 20px 0px 20px;">
                    <img src="https://i.imgur.com/rX5BwQc.png" style=" width: 300px; height: auto; margin: 0;">
                  </td>
                </tr>
               </table>
            </td>
          </tr>
        </table>

        <!-- Footer -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#2b2a29" style="border-radius: 0 0 10px 10px;">
          <tr>
            <td align="center" style="padding: 30px 20px;">
              <!-- Social Media -->
              <table cellpadding="0" cellspacing="0" border="0" style="margin-bottom:20px;">
                <tr>
                  <td align="center" style="padding:0 10px;">
                    <a href="https://www.facebook.com/dnsafetyatwork" target="_blank" style="text-decoration: none;">
                      <img src="https://i.imgur.com/JTSsgvK.png" width="40" height="40" alt="Facebook">
                    </a>
                  </td>
                  <td align="center" style="padding:0 10px;">
                    <a href="https://www.instagram.com/dngroup70/" target="_blank" style="text-decoration: none;">
                      <img src="https://i.imgur.com/OZ6ju9Z.png" width="40" height="40" alt="Instagram">
                    </a>
                  </td>
                </tr>
              </table>
              
              <p style="margin:0 0 10px 0; font-size:14px; color:#fff;">DN Group | Φαβιέρου & Κ. Σάββα | <a href="https://www.dngroup.gr" target="_blank" style="text-decoration: none; color: white;">www.dngroup.gr</a></p>
              <p style="margin:0; font-size:14px; color:#ff8800; text-decoration: none;">Επικοινωνία: info@dnsafety.gr | Τηλ: 210 1234567</p>
              
              <p style="margin:20px 0 0 0; font-size:12px; color:#aaa;">
                <a href="#" style="color:#aaa; text-decoration:underline;">Διαγραφή από λίστα</a> | 
                <a href="#" style="color:#aaa; text-decoration:underline;">Προτιμήσεις</a>
              </p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>
  <a href="https://www.flaticon.com/free-icons/quality" title="quality icons">Quality icons created by Freepik - Flaticon</a>
</body>
</html>